[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
numpy = "==2.2.2"
pandas = "==2.2.2"
matplotlib = "==3.10.0"
pylint = "==3.3.5"
black = "==24.4.2"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
